<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Here are some of our milestones.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Tech Team Division</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.cropquest.com" target="_blank">Crop Quest's</a> IT and Precision Ag teams coalesced into a single division to support, develop, and implement company wide technology and precision agriculture initiatives.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                    <h4 class="subheading">Internal App Development and Modernization</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this time period we mainly focused on buildng (or re-building) modern apps to handle various internal company processes like expense entry/tracking, fleet management, contracts, etc. We also virtualized and expanded our server infrastructure to support these new tools.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Ag Dispatching Launches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ag Dispatching is a logistcs and dispatching tool used internally by our Precision Ag team, but it is built to support use by external organizations. It uses Ruby on Rails, Sidekiq, PostgreSQL, PostGIS, and Bootstrap.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Water Meter Log Launches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.watermeterlog.com" target="_blank">Water Meter Log</a> is an irrigation meter recording, sharing and reporting app. It was the first Software as a Service web application we launched. It uses Ruby on Rails, PostgreSQL, and jQuery Mobile.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Paramount Reports Launches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.paramountreports.com" target="_blank">Paramount Reports</a> is a tool for building professional customizable reports for <a href="http://www.agxplatform.com" target="_blank">agX compliant software</a> including <a href="https://www.sstsoftware.com" target="_blank">SST Software's Summit and Sirrus</a>. This was a complete web-based rewrite of our original desktop application. It uses Ruby on Rails, Sidekiq, PostgreSQL, PostGIS, and Bootstrap.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Satellite Imagery Processing (Zodiac)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Zodiac is a satellite imagery processing platform we created to deliver NDVI images through <a href="https://www.paramountreports.com" target="_blank">Paramount Reports</a> and other agX compliant software like <a href="https://www.sstsoftware.com/Sirrus.html" target="_blank">SST Sirrus</a>. It is currently built with Ruby and Python.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                          <a class="page-scroll" href="#jobs">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
