<!-- Jobs Section -->
    <section id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jobs</h2>
                    <h3 class="section-subheading text-muted">
                      Crop Quest is 100% employee owned which makes for a unique culture of self-motivated individuals.
                      Every employee becomes a vested owner at Crop Quest.
                      As a member of this team, you will be on the cutting edge of technology, helping mold the future of agriculture.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="service-heading">Jr. iOS / Web Developer</h3>
                    <h5>Location: Manhattan, KS - Lawrence, KS, - Dodge City, KS</h5>
                    <p class="text-muted">
                      This exciting opportunity involves building iOS applications with Swift, as well as, full stack web development on our internal and public facing web applications.
                      Candidates must reside in or relocate to one of the locations listed above. As part of the application process, you will be asked to complete a simple iOS coding challenge.
                      For more info, check out the job description link below. If you have any questions, <a class="page-scroll" href="#contact">send us a message!</a>
                    </p>
                    <p><br></p>

                    <div class="row text-center">
                        <div class="col-md-3">
                          <a class="btn btn-primary" href="https://cropquest.hrmdirect.com/employment/job-opening.php?req=574006&&&nohd#job" target="_blank">View Job Description</a>
                        </div>
                        <div class="col-md-3">
                          <a class="btn btn-primary" href="https://www.cropquest.com/careers/employee-benefits/" target="_blank">CQ Employee Benefits</a>
                        </div>
                        <div class="col-md-3">
                          <a class="btn btn-primary" href="https://gist.github.com/beaorn/4b9d69a3407836d14def70bf8c7ed095" target="_blank">iOS Code Challenge</a>
                        </div>
                        <div class="col-md-3">
                          <a class="btn btn-primary" href="https://gist.github.com/beaorn/b014087b50c72a97e3e7bf432469acc6" target="_blank">CQ Developer Handbook</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
