<!-- Services Section -->
    <section id="tech">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <h3 class="section-subheading text-muted">These are some of the main technologies we work with:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ruby on Rails</h4>
                    <p class="text-muted">Ruby on Rails is the predominant framework we use to build our web apps and APIs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PostgreSQL</h4>
                    <p class="text-muted">PostgreSQL is used for all of our web apps, commonly in conjunction with PostGIS.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Swift</h4>
                    <p class="text-muted">We are beginning to build iOS apps to consume our web application APIs with Swift.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux</h4>
                    <p class="text-muted">All of our web applications are deployed to Linux servers that we manage.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">GitHub</h4>
                    <p class="text-muted">All of our projects are hosted in GitHub repositories. We use forking, feature branches, and pull requests extensively during the development process.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trello fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Trello</h4>
                    <p class="text-muted">We use trello to manage all of our project tasks.</p>
                </div>
            </div>
        </div>
    </section>
